.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}

.exportar-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 14px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    transition: background 0.3s;
}

.exportar-btn:hover {
    background-color: #0056b3;
}
.footer{
    width: 90px;
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin-top: 20px;
}

/* Responsive: en tablets 2 columnas, en móviles 1 
@media (max-width: 1024px) {
    .dashboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .dashboard {
        grid-template-columns: 1fr;
    }
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
